@charset "UTF-8";
/* Master stylesheet */

html{
	overflow:hidden;
}
html,body{
	height:100%;
}
body{
	margin:0; padding:0;
	background-color:#000;	
}
#wrapper {
	width:100%;
	height:100%;
	margin:0 auto;
}
#gallery3D{
	position:absolute;
	top:0; left:0;
	width:100%;
	height:100%;
	background:#000000;
}
